<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
<!ELEMENT mainCategory ANY>
<!ATTLIST mainCategory id ID #REQUIRED>
<!ELEMENT mobileApplicationCategories ANY>
<!ATTLIST mobileApplicationCategories id ID #REQUIRED>
]>
<root id="-1">
  <mobileApplicationCategories id="1060" key="27a21b65-51a0-4f7f-98be-6081c3217f3b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-05-10T11:42:21" updateDate="2019-05-10T11:42:21" nodeName="Categories List" urlName="categories-list" path="-1,1060" isDoc="" nodeType="1059" creatorName="khalid Ali" writerName="khalid Ali" writerID="0" template="0" nodeTypeAlias="mobileApplicationCategories" isPublished="true">
    <mainCategory id="1062" key="05c8ef7f-643a-41df-a19c-86d73f53b622" parentID="1060" level="2" creatorID="0" sortOrder="0" createDate="2019-05-10T11:43:26" updateDate="2019-05-10T20:17:07" nodeName="Black Smith" urlName="black-smith" path="-1,1060,1062" isDoc="" nodeType="1058" creatorName="khalid Ali" writerName="khalid Ali" writerID="0" template="0" nodeTypeAlias="mainCategory" isPublished="true">
      <categoryName><![CDATA[Black Smith]]></categoryName>
      <categorydesc><![CDATA[Black SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack Smith]]></categorydesc>
      <categoryIcon><![CDATA[umb://media/54f37069939e4416bd4e1d8cd0acd1c1]]></categoryIcon>
    </mainCategory>
    <mainCategory id="1064" key="b7e00922-af1c-42c7-b29f-52de3c5d7562" parentID="1060" level="2" creatorID="0" sortOrder="1" createDate="2019-05-10T11:44:00" updateDate="2019-05-10T20:17:12" nodeName="Car Fixing" urlName="car-fixing" path="-1,1060,1064" isDoc="" nodeType="1058" creatorName="khalid Ali" writerName="khalid Ali" writerID="0" template="0" nodeTypeAlias="mainCategory" isPublished="true">
      <categoryName><![CDATA[Car Fixing]]></categoryName>
      <categorydesc><![CDATA[Black SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack SmithBlack Smith]]></categorydesc>
      <categoryIcon><![CDATA[umb://media/0ba68549643d4278919fd0c4826de9ef]]></categoryIcon>
      <service id="1082" key="ace5bcf0-a2fa-4225-9ca1-b9186307d1a8" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2019-05-10T18:26:01" updateDate="2019-05-10T18:26:01" nodeName="test1" urlName="test1" path="-1,1060,1064,1082" isDoc="" nodeType="1067" creatorName="khalid Ali" writerName="khalid Ali" writerID="0" template="0" nodeTypeAlias="service" isPublished="true">
        <image><![CDATA[umb://media/f2199fd8129b4b468daf0c3e7519f08a]]></image>
        <serviceName><![CDATA[test1]]></serviceName>
        <phoneNumber><![CDATA[12345]]></phoneNumber>
        <description><![CDATA[Test test test]]></description>
        <createdBy><![CDATA[Ibrahim ]]></createdBy>
      </service>
    </mainCategory>
  </mobileApplicationCategories>
</root>